#google-flexbox {
    display: flex;
    font-family: sans-serif;
}

#google-logo {
    width: 272;
}

#magnifying-glass {
    width: 20px;
}

#search-outline {
    border: 1px solid gray;
}

#site-search {
    border-radius: 25px;
}

